# --- File cấu hình & Bí mật ---
.env
token.json
client_secret.json

# --- Database & Logs ---
aimentor.db
*.log
LogRetry.json
system_health.csv

# --- Python Cache ---
__pycache__/
*.pyc

# --- IDE & System ---
.DS_Store
.idea/
.vscode/